*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    padding: 10px;
    background-color: #add8e6;
    justify-content: space-around;
}
/* INIZIO PRIMA SEZIONE */
.cols{
    border: dashed 1px black;
    background-color: orange;
    width: calc(100% / 3);
}

.col-20{
    width: 20%;
}

.col-50{
    width: 50%;
}

.row{
    display: flex;
    width: 50%;
}

.link{
    text-align: center;
}

.login{
    text-align: end;
}
/* FINE PRIMA SEZIONE */

