*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    padding: 10px;
    background-color: #add8e6;
    justify-content: center;
}
/* INIZIO PRIMA SEZIONE */
.cols{
    border: dashed 1px black;
    background-color: orange;
    width: calc(100% / 3);
}

.col-20{
    width: 25%;
}

.col-50{
    width: 50%;
}

.row{
    display: flex;
    width: 50%;
}

.link{
    text-align: center;
}

.login{
    text-align: end;
}
/* FINE PRIMA SEZIONE */

/* INIZIO SECONDA SEZIONE */
.container1{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 113);
    height: 250px;
    padding: 15px;
}

.col-40{
    display: flex;
    width: 40%;
    border: dashed 1px black;
    background-color: #ee82ee;
}


/* FINE SECONDA SEZIONE */

/* INIZIO TERZA SEZIONE */

/* FINE TERZA SEZIONE */
